body{
    padding-top: 100px;
    font-weight: 100;
    font-size: small;
    min-width: 1200px !important;
}

.title{
    color: deepskyblue;
    margin-left: 5px;

}

.nav-module{
    margin-top: 20px;
    text-align: right;
}

.nav-module>ul>li{
    margin-bottom: 5px;
}

form#uploadParts>.row{
    margin-bottom: 10px;
}

a{
    color: #999999;
    text-decoration: none;
}

a:focus{
    color: #999999;
    text-decoration: none;
}

a:hover{
    color: #999999;
    text-decoration: none;
}
a:active{
    color: deepskyblue;
}

a.active{
    color: deepskyblue;
}

label.field{
    text-align: left;
    width: 100px;
    float: left;
    font-weight: 100;
    font-size: small;
    color: #999999;
}

.reset{
    margin: 5px 0 0 -25px;
}

#selectProject {
    width: 100%;
    border: none;
    border-bottom: 1px groove ;
    outline: none;
}

#prField {
    width: 250px;
    height: 80px;
    border: none;
    border-bottom: 1px groove;
    background: transparent ;
    outline: none;
}

.img_path {
    padding-left: 5px;
}

.fileUploadForm{
    margin-top: 0;
}

.deleter{
    cursor: pointer;
}

input[type="text"], input[type="password"], textarea[name="about_description"]{
    width: 250px;
    outline: none;
    border: transparent;
    border-bottom: 1px groove;
    margin-right: 10px;
    border-radius: 0;
}

#prDescr{
    font-weight: 200;
}

input[type="button"], input[type="submit"]{
    position: relative;
    left:155px;
    height: auto;
}

input[type="file"]{
    border: transparent;
}

input:focus {
    border-bottom: 1px groove deepskyblue;
}

div.public-buttons{
position: relative;
    left: 340px;
    width: 150px;
}

div.public-buttons>input{
    position: static;
    width: 50px;
    text-align: center;
}

input.transparent{
    border: transparent;
}

textarea{
    resize: none;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    padding: 4px 2px 2px;
    line-height: 1.42857143;
    vertical-align: top;
}

select{
   padding-left: 10px;
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.status-active{
    background-color: green;
}

.status-in-progress, .status-disabled{
    background-color: red;
}

#image{
    width: 70px;
}
#status{
    width: 40px;
}
#manage{
    width: 160px;
}

.divider{
    position: relative;
    width: 100%;
    float: left;
    margin: 40px;
}

.m-btn+.m-btn, .m-btn .m-btn-group, .m-btn-group .m-btn, .m-btn-group .m-btn-group{
    margin-left: 2px;
}

.personalBtn {
    position: relative;
    right: 6px;
    top: 2px;
}
/*modal*/
.modal-content{
    border-radius: 0;
}

.modal-footer, .modal-header, .modal-body{
    padding-top: 5px;
    padding-bottom: 5px;
}

.fileUploaderInput{
    width: 250px;
    height: 30px;
    margin-top:5px;
    padding:  6px 0 0 0;
    cursor:pointer;
}

.linkUploaderInput {
    width: 250px;
}

.imageIndicator {
    position: absolute;
    bottom: 5px;
    left: 15px;
    width:0;
    height:2px;
    display: inline-block;
    background-color: rgb(67, 163, 67);
    z-index:1;
}

.delete-tag{
    cursor: pointer;
}

.m-btn.m-btn-group{
    padding: 2px 2px;
}