@font-face {
    font-family: 'lora italic';

    src: url('lora_fonts/Lora-Italic.ttf');
}

@font-face {
    font-family: 'lora regular';
    src: url('lora_fonts/lora-regular.eot');
    src: url('lora_fonts/lora-regular.eot?#iefix') format('embedded-opentype'),
    url('lora_fonts/lora-regular.woff2') format('woff2'),
    url('lora_fonts/lora-regular.woff') format('woff'),
    url('lora_fonts/Lora-Regular.ttf') format('truetype'),
    url('lora_fonts/lora-regular.svg#loraregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pt_sans';
    src: url('ptSans_fonts/pts55f.eot');
    src: url('ptSans_fonts/pts55f.eot?#iefix') format('embedded-opentype'),
    url('ptSans_fonts/pts55f.woff2') format('woff2'),
    url('ptSans_fonts/pts55f.woff') format('woff'),
    url('ptSans_fonts/PTS55F.ttf') format('truetype'),
    url('ptSans_fonts/pts55f.svg#pt_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

html {
    position: relative;
}
body {
    min-width: 1200px !important;
    min-height: 100%;
    color: rgba(136, 137, 135, 0.94);
    letter-spacing: 0.003em;
    font-family: pt_sans, Arial, Consolas, Monaco, Courier New, Courier, monospace !important;
}

label{
    display: inline;
}

h3.project-name{
    font-family: "lora regular", Sans-Serif !important;
}

h1.project-title {
    font-family: "lora regular", Sans-Serif;!important;
    /*font-family: pt-sans, Arial, Consolas, Monaco, Courier New, Courier, monospace;*/
    color: deepskyblue;
}

p.project-data {
    color: rgba(197, 198, 196, 0.94);
}

.link-tag, .project-data {
    font-family: pt_sans, Arial, Consolas, Monaco, Courier New, Courier, monospace;
}

.item-description, .description-about {
    font-family: "lora regular", Sans-Serif !important;
}

.project-description {
    font-family: "lora regular", Sans-Serif !important;
    font-size: 13pt;
}
/*.project-description>*{
    color:rgba(136, 137, 135, 0.94);
}*/

.description-about, .project-description, .item-description, .project-description>* {
    color: rgb(113, 113, 113);
}

.feedback-form {
    font-family: "lora regular", Sans-Serif!important;
}
.wrap{
    min-height: 100%;
}

h1{
    margin-top: 0;
}

.link-container{
    display: block;
    opacity: 0.7;
    -moz-backface-visibility: hidden;
    transition: opacity 500ms;
}

.link-container:hover{
    opacity: 1;
    -moz-backface-visibility: hidden;
}

.figure{

    border-bottom:solid 1px rgba(205, 205, 205, 0.69);
    width:311px;
    height: 345px;
}

input:not([type="button"]), textarea{
    outline: none;
    border: transparent;
    border-bottom: 1px solid;
}
input:focus, textarea:focus{
    border-bottom-color:deepskyblue;
}
input[type="button"], input[type="submit"]{
    position: relative;
    left:155px;
    height: auto;
}
textarea{
    resize: none;
    width: 100%;
}

form>.form-group{
    width: 45%;
}

form>.form-group>label>input{
    width: 100%;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

.link{
    color: rgba(182, 183, 181, 0.94);
    font-size: small;
}

a:visited {
    color: rgba(144, 144, 144, 0.94);
}

h3, a:hover{
    opacity: 0.6;
    color: deepskyblue;
}

.list-unstyled>li:not(:nth-child(1)){
    color: #abacaa;
}

.side-link {
    color: rgba(144, 144, 144, 1);
    font-size: small;
}

.second-menu{
    margin-top: 100px;
}

.contact-form {
    position: relative;
    right: 12px;
}
.get-in-touch{
    margin-top: 100px;
}

.get-in-touch > .list-unstyled {
    margin-bottom: 50px;
}

.get-in-touch>h3:last-of-type {
    margin-bottom: 50px;
}

.social {
    margin-top: 100px;
}

.row.footer{
    height: 100px;
    margin-top: 170px;
}

.footer-info > p:last-child {
    color: rgb(181, 182, 180);
}

.footer-info > .text-right + p {
    float: right;
}

.text-muted.small{
    padding: 0;
    margin: 0;
}
 iframe{
     width: 640px;
     height: 500px;
 }

.m-btn.blue {
    color: white;
    text-shadow: none;
    background-color: deepskyblue;
    background-image: -moz-linear-gradient(top, deepskyblue, deepskyblue);
    background-image: -ms-linear-gradient(top, deepskyblue, deepskyblue);
    background-image: -webkit-gradient(linear, 0 0, 0 5%, from(deepskyblue), to(deepskyblue));
    background-image: -webkit-linear-gradient(top, deepskyblue, deepskyblue);
    background-image: -o-linear-gradient(top, deepskyblue, deepskyblue);
    background-image: linear-gradient(top, deepskyblue, deepskyblue);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='deepskyblue', endColorstr='deepskyblue', GradientType=0);
}
.m-btn.blue:hover,
.m-btn.blue:focus,
.m-btn.blue:active,
.m-btn.blue.active,
.m-btn.blue[disabled],
.m-btn.blue.disabled {
    background-color: deepskyblue;
    background-image: -moz-linear-gradient(top, deepskyblue, deepskyblue);
    background-image: -ms-linear-gradient(top, deepskyblue, deepskyblue);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(deepskyblue), to(deepskyblue));
    background-image: -webkit-linear-gradient(top, deepskyblue, deepskyblue);
    background-image: -o-linear-gradient(top, deepskyblue, deepskyblue);
    background-image: linear-gradient(top, deepskyblue, deepskyblue);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='deepskyblue', endColorstr='deepskyblue', GradientType=0);
}

.m-btn.blue:active,
.m-btn.blue.active
{
    background-color: deepskyblue;
    background-image: -moz-linear-gradient(top, deepskyblue, deepskyblue);
    background-image: -ms-linear-gradient(top, deepskyblue, deepskyblue);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(deepskyblue), to(deepskyblue));
    background-image: -webkit-linear-gradient(top, deepskyblue, deepskyblue);
    background-image: -o-linear-gradient(top, deepskyblue, deepskyblue);
    background-image: linear-gradient(top, deepskyblue, deepskyblue);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='deepskyblue', endColorstr='deepskyblue', GradientType=0);

}